{% extends 'base.html' %}

{% import 'macro.html' as macros %}

{% block custom_js %}
    <script type="module" src="/static/js/pk.js"></script>
{% endblock %}

{% block custom_css %}
    <style>
        .shim-blue {
            position: relative;
            overflow: hidden;
            background-color: rgba(55, 90, 177, 0.7);
        }

        .shim-blue::after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transform: translateX(100%);
            background-image: linear-gradient(
                    90deg,
                    rgba(55, 90, 177, 1) 0,
                    rgb(71, 118, 234, 1) 50%,
                    rgb(109, 149, 248, 1) 100%
            );
            animation: shimmer 1.5s ease-in-out infinite;
            content: "";
        }

        .stop_animation::after {
            animation: none !important;
        }

        .shim-red {
            position: relative;
            overflow: hidden;
            background-color: rgba(240, 18, 86, 1);
        }

        .shim-red::after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transform: translateX(-100%);
            background-image: linear-gradient(
                    90deg,
                    rgba(240, 18, 86, 1) 0,
                    rgba(244, 59, 122, 1) 50%,
                    rgba(247, 83, 142, 1) 100%
            );
            animation: shimmer 1.5s ease-in-out infinite;
            content: "";
        }

        @keyframes shimmer {
            100% {
                transform: translateX(0%);
                opacity: 0;
            }
        }
    </style>
{% endblock %}

{% block title %}
    Profile
{% endblock %}

{% block content %}
    <div id="page-content"
         class="dark transition-all ease-in-out duration-200 flex flex-col min-h-screen items-center align-center p-8 space-y-8">

        <div class="flex gap-4 w-full justify-center items-center align-center">
            <button class="btn inline-flex justify-center btn-{{ 'danger' if not connected else 'success' }} basis-1/5"
                    id="connect">
                <span class="flex items-center">
                    <iconify-icon class="text-xl ltr:mr-2 rtl:ml-2" icon="ph:plugs-connected-bold"></iconify-icon>
                    <span>{{ 'Kết nối' if not connected else config['room_id'] }}</span>
                </span>
            </button>
            <button class="btn inline-flex justify-center items-center align-center btn-primary basis-1/5" id="start" {{ 'disabled' if not connected }}>
                <iconify-icon class="text-xl ltr:mr-2 rtl:ml-2"
                                  icon="material-symbols:resume-rounded"></iconify-icon>
                <span>Bắt Đầu</span>
            </button>
            <button id="config_button" class="btn inline-flex justify-center btn-light basis-1/5" data-bs-toggle="modal"
                    data-bs-target="#config" data-profile="{{ profile }}">
                <span class="flex items-center">
                    <iconify-icon class="text-xl ltr:mr-2 rtl:ml-2" icon="ant-design:setting-filled"></iconify-icon>
                    <span>Cài Đặt PK</span>
                </span>
            </button>
            <button id="config_button" class="btn inline-flex justify-center btn-light basis-1/5" data-bs-toggle="modal"
                    data-bs-target="#music_config" data-profile="{{ profile }}">
                <span class="flex items-center">
                    <iconify-icon class="text-xl ltr:mr-2 rtl:ml-2" icon="majesticons:music"></iconify-icon>
                    <span>Cài Đặt Nhạc</span>
                </span>
            </button>
        </div>

        <div class="flex flex-col w-full justify-center align-center items-center" id="pk">
            <div class="flex justify-between w-1/2 text-slate-300 text-xl font-bold">
                <div class="flex justify-between w-full relative">
                    <span id="name_a" class="flex items-center align-center" style="color: rgba(247, 83, 142, 1)">
                        {{ pk_config['a']['name'] }}
                        <span class="raw ml-2 badge bg-success-500 text-success-500 bg-opacity-30 capitalize font-bold {{ ' hidden' if is_pk else ('hidden' if pk_config['a_point'] != pk_config['b_point'])  }}">HÒA</span>
                        <span class="win ml-2 badge bg-success-500 text-success-500 bg-opacity-30 capitalize font-bold {{ ' hidden' if is_pk else ('hidden' if pk_config['a_point'] <= pk_config['b_point'])  }}">CHIẾN THẮNG</span>
                        <span class="lose ml-2 badge bg-warning-500 text-warning-500 bg-opacity-30 capitalize font-bold {{ ' hidden' if is_pk else ('hidden' if pk_config['a_point'] >= pk_config['b_point'])  }}">THẤT BẠI</span>
                    </span>
                    <span id="name_b" class="flex items-center align-center" style="color: rgba(78, 128, 253, 1)">
                        <span class="raw mr-2 badge bg-success-500 text-success-500 bg-opacity-30 capitalize font-bold {{ ' hidden' if is_pk else ('hidden' if pk_config['b_point'] != pk_config['a_point']) }}">HÒA</span>
                        <span class="win mr-2 badge bg-success-500 text-success-500 bg-opacity-30 capitalize font-bold {{ ' hidden' if is_pk else ('hidden' if pk_config['b_point'] <= pk_config['a_point']) }}">CHIẾN THẮNG</span>
                        <span class="lose mr-2 badge bg-warning-500 text-warning-500 bg-opacity-30 capitalize font-bold {{ ' hidden' if is_pk else ('hidden' if pk_config['b_point'] >= pk_config['a_point']) }}">THẤT BẠI</span>
                        {{ pk_config['b']['name'] }}
                    </span>
                    <div class="absolute w-full flex justify-center">{{ pk_config['name'] }}</div>
                </div>

            </div>
            <div class="relative pt-1 w-1/2 mt-2">
                <div class="absolute z-10 w-full h-10 flex justify-between align-center items-center text-white text-xl font-bold p-4">
                    <span id="point_a">0</span>
                    <span id="point_b">0</span>
                </div>
                <div class="flex w-full h-10 shim-blue stop_animation rounded-full" id="bar">
                    <div style="width: 50%" id="bar_a" data-point="#point_a" data-init-point="{{ pk_config['a_point'] }}"
                         class="transition-all h-full duration-300 ease-in-out shadow-none flex text-center whitespace-nowrap text-white justify-end align-center items-center shim-red">
                    </div>
                    <div class="bg-white w-1 h-full"></div>
                    <div style="width: 50%" id="bar_b" data-point="#point_b" data-init-point={{ pk_config['b_point'] }}
                         class="w-full overflow-hidden h-full mb-4 text-xs flex rounded shim-blue justify-start align-center items-center">
                    </div>
                </div>
            </div>
            <div class="flex justify-between w-1/2 text-slate-300 text-xl font-bold">
                <div class="flex justify-between relative w-full relative">
                    <div id="gift_a" class="flex gap-2 mt-3">
                        {% for src in pk_config['a']['thumbnails'] %}
                        <img class="h-10" src="{{ src }}">
                        {% endfor %}
                    </div>
                    <div id="gift_b" class="flex gap-1 mt-3">
                        {% for src in pk_config['b']['thumbnails'] %}
                        <img class="h-10" src="{{ src }}">
                        {% endfor %}
                    </div>
                    <div class="absolute flex justify-center w-full">
                        <div class="px-4 py-2 min-w-52 text-xl text-slate-300 bg-slate-950 flex gap-2 items-center justify-center rounded-b-xl overflow-hidden" style="clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 10% 100%);">
                            <img src="/static/images/vs.png" class="h-6">
                            <div class="flex">
                                <span id="remain_time" class="min-w-10 flex justify-end">{{ 'Kết Thúc' if not remain_time else remain_time }}</span>
                                <span id="remain_time_label" class="{{ 'hidden' if not remain_time}}">s</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- MODEL CONFIG PK -->
    <div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto"
             id="config" tabindex="-1" aria-labelledby="disabled_animation" style="display: none;"
             aria-hidden="true">
        <div class="modal-dialog top-0 !-translate-y-0 relative w-auto pointer-events-none">
            <div class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-clip-padding
                    rounded-md outline-none text-current">
                <div class="relative rounded-lg shadow dark:bg-slate-800">
                    <div class="card">
                        <div class="card-body flex flex-col p-6">
                            <header class="flex mb-5 items-center border-b border-slate-100 dark:border-slate-700 pb-5 -mx-6 px-6">
                                <div class="flex-1">
                                    <div class="card-title text-slate-900 dark:text-white">Cài đặt</div>
                                </div>
                            </header>
                            <div class="card-text h-full space-y-4">
                                <form class="space-y-4">
                                    <div class="input-area relative">
                                        <label for="largeInput" class="form-label">Thời gian</label>
                                        <div class="relative">
                                            <input type="text" class="form-control !pl-16 duration"
                                                   placeholder="Nhập thời gian"
                                                   value="{{ pk_config['duration'] }}">
                                            <span class="absolute left-0 top-1/2 -translate-y-1/2 w-12 h-full border-r border-r-slate-200 dark:border-r-slate-700 flex items-center justify-center">
                                            Phút
                                            </span>
                                        </div>
                                    </div>
                                    <div class="input-area relative">
                                        <label for="largeInput" class="form-label">Kèo</label>
                                        <input type="text" class="form-control round_name" placeholder="Nhập kèo" value="{{ pk_config['name'] }}">
                                    </div>
                                    <div class="hr"></div>
                                    <div class="input-area relative">
                                        <label for="largeInput" class="form-label">Tên Team A</label>
                                        <input type="text" class="form-control name_a"
                                               placeholder="Nhập tên team A" value="{{ pk_config['a']['name'] }}">
                                    </div>
                                    <div class="input-area relative">
                                        <label for="largeInput" class="form-label">Chọn quà (Tối đa 5)</label>
                                        <select class="data-gift" id="gifts_a" data-json="{{ pk_config['a']['gifts'] }}">
                                            {% for gift in gifts %}
                                                <option value="{{ gift['id'] }}" data-src="{{ gift['thumbnail'] }}">
                                                    {{ gift['name'] }}|{{ gift['price'] }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="hr"></div>
                                    <div class="input-area relative">
                                        <label for="largeInput" class="form-label">Tên Team B</label>
                                        <input type="text" class="form-control name_b"
                                               placeholder="Nhập tên team B" value="{{ pk_config['b']['name'] }}">
                                    </div>
                                    <div class="input-area relative">
                                        <label for="largeInput" class="form-label">Chọn quà (Tối đa 5)</label>
                                        <select class="data-gift" id="gifts_b" data-json="{{ pk_config['b']['gifts'] }}">
                                            {% for gift in gifts %}
                                                <option value="{{ gift['id'] }}" data-src="{{ gift['thumbnail'] }}">
                                                    {{ gift['name'] }}|{{ gift['price'] }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </form>
                                <button class="btn inline-flex justify-center btn-primary submit">Gửi</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- MODEL CONFIG MUSIC -->
    <div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto"
             id="music_config" tabindex="-1" aria-labelledby="disabled_animation" style="display: none;"
             aria-hidden="true" data-sounds="{{ pk_config['sounds'] }}">
        <div class="modal-dialog top-0 !-translate-y-0 relative w-auto pointer-events-none">
            <div class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-clip-padding
                    rounded-md outline-none text-current">
                <div class="relative rounded-lg shadow dark:bg-slate-800">
                    <div class="card">
                        <div class="card-body flex flex-col p-6">
                            <header class="flex mb-5 items-center border-b border-slate-100 dark:border-slate-700 pb-5 -mx-6 px-6">
                                <div class="flex-1">
                                    <div class="card-title text-slate-900 dark:text-white">Cài đặt Nhạc</div>
                                </div>
                            </header>
                            <div class="card-text h-full space-y-4">
                                <form class="space-y-4">
                                    <div class="input-area relative sound_group">
                                        <div class="flex sg_header">
                                            <label for="largeInput" class="form-label">Đường dẫn file nhạc</label>
                                            <iconify-icon class="text-xl ml-2" icon="ph:plus-bold"></iconify-icon>
                                        </div>
                                        <div class="sg_body space-y-2">
                                            <div class="flex items-center">
                                                <input type="text" name="gift_sound[]" class="form-control pb-2"
                                                       placeholder="Nhập đường dẫn file nhạc (trên máy)">
                                                <div class="remove_sound ml-2">
                                                    <iconify-icon class="text-xl" icon="ph:minus-fill"></iconify-icon>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <button class="btn inline-flex justify-center btn-primary submit">Gửi</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}